.adrhash{
    width: 100%;
}

input[type=submit]{
    width: 30%;
    font-weight: bold;
    background-color: lightgreen;
}
table, td, th {
     border: 1px solid black; 
}

.naglowek{
    font-weight: bold;
}

.blad_przelewu{
    color: red;
    font-weight: bold;    
}

